.root {
    padding-top: 20px
}

.plotContainer {
    border: 1px solid #eee;
    width: 80vmin;
    height: 80vmin;
    margin: 20px auto;
}

.textData {
    font-size: 12px;
}

.section {
    padding: 8px 4px;
}

.section mark {
    margin-left: 4px;
}

.dataset {
    column-count: 3;
    column-gap: 0;
}

.dataValue {

}